.paginas-internas .bienvenidos {
    height: 50vh;
}

.paginas-internas .ruta {
    background: #12AFAF;
    color: #fff;
}

.paginas-internas .ruta a {
    color: #fff;
    text-decoration: underline;
}

.paginas-internas .ruta a:hover {
    text-decoration: none;
}

.paginas-internas .card-header {
    background: #12AFAF;
    color: #fff;
    display: block;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.paginas-internas .card-header:hover {
    background: #009500;
}

.paginas-internas .card-header .mb-0 .btn {
    font-size: 1.2rem;
}

.paginas-internas .card-header .mb-0 a {
    display: block;
    text-decoration: none;
}

.paginas-internas .lista-servicios {
    background: #009500;
}

.paginas-internas .lista-servicios .item-servicios {
    background: #fff;
    text-align: center;
    border: 5px solid #057705;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.paginas-internas .lista-servicios .item-servicios .fa {
    font-size: 6rem;
    color: #12AFAF;
    margin-bottom: 1rem;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.paginas-internas .lista-servicios .item-servicios:hover .fa {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.texto-encabezado {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.texto-encabezado .display-4 {
    margin-top: 3rem;
}

.texto-encabezado .display-4 .btn-primary {
    margin-top: 1rem;
}

img{
    width: 50%;
    height: 50%;
    margin-left: 20vw;
}

@media (min-width: 768px) {
    .paginas-internas .lista-servicios .col-md-4 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
    
      .paginas-internas .lista-servicios .item-servicios {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
    
      .paginas-internas .lista-servicios .item-servicios .btn-primary {
        margin-top: auto; } 
}
