/* Estilos para la sección de Misión y Visión */
#accordion {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px; /* Agregado margen a los lados */
  overflow: hidden; /* Evitar que el hover extienda el contenido */
}

#tab-mision,
#tab-vision {
  flex: 1;
  padding: 15px;
  border: 1px solid #ddd;
  margin: 0 15px; /* Agregado margen a los lados */
  transition: background-color 0.3s, transform 0.3s;
  text-align: center; /* Centra el texto horizontalmente */
  cursor: pointer;
}

#tab-vision {
  margin-right: 0;
}

#tab-mision:hover,
#tab-vision:hover {
  background-color: #f5f5f5; /* Cambiar el color al pasar el mouse */
  transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

/* Estilos para centrar el título "Nosotros" y subtítulo */
.texto-encabezado h1,
.texto-encabezado p {
  text-align: center;
}

/* Estilos para la sección de Historia de la Empresa */
article h3 {
  text-align: center;
}

/* Agregar un padding inferior para la sección de Historia de la Empresa */
article {
  padding-bottom: 30px;
}
