/*#region Generales*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.25em;
}

button {
    font-size: 1.25em;
    font-weight: bold;
    margin-top: 0px;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(28, 146, 214);
}

button:hover {
    background-color: blue;
}

.container {
    max-width: 1400px;
    margin: auto;
}

/*#endregion */

/*#region Header*/

header {
    background-color: rgb(235, 235, 235);
}

header .logo {
    margin: 0;
    padding: 12px 30px 0px;
    font-weight: bold;
    color: rgb(28, 146, 214);
    font-size: 1.6em;

}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px 30px;
}

header a {
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header input {
    font-weight: bold;
    margin: 5px;
    border-radius: 2px;
    padding: 0px 5px;

}

header a:hover {
    color: blue;
}

header .navCredenciales {
    font-size: 1em;

    text-align: center;
    font-weight: bold;
    margin: 4px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: rgb(28, 146, 214);
}

/*#endregion */


/*#region UltimasSecciones*/


#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/F1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero:first-child {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/F1.jpg");
}

#hero:nth-child(2) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/F2.jpg");
}

#hero:nth-child(3) {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/F3.jpg");
}

.efectoLinea {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 1em;
}

.efectoLinea::after,
.efectoLinea::before {
    content: '';
    position: absolute;
    top: 0.7em;
    width: 2vw;
    height: 5px;
    background-color: rgb(255, 255, 255);

}

.efectoLinea::before {
    left: -2vw;
}

.efectoLinea::after {
    right: -2vw;
}

#containerCartas {
    background-color: rgb(245, 245, 245);
    text-align: center;
}

#containerCartas .container {
    padding: 50px 12px;
}

#containerCartas h2 {
    margin-top: 0;
    font-size: 3.2em;
}

#containerCartas p {
    display: none;
}

#containerCartas .carta {
    background-position: center center;
    background-size: cover;
    padding: 100px 0px;
    margin: 30px;
    border-radius: 15px;
    cursor: pointer;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/F1.jpg");


}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/F1.jpg");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("/img/F1.jpg");

}

.container .hoverArrow {
    position: relative;
    width: 100%;
    height: 125px;
    margin-top: 30px;
    border-radius: 15px;
    top: 0px;
    transform: scale(0);
    background: rgba(18, 103, 207, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carta:hover .hoverArrow {
    transform: scale(1);
}



/*#endregion */

/*#region Footer*/
.pieDePagina {
    width: 100%;
    background-color: #0a141d;
    flex-direction: column;
}

.pieDePagina .container {

    flex-direction: column;
}

.pieDePagina .grupo-1 {
    width: 90%;

    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    grid-gap: 30px;
    padding: 35px 0px;
}

.pieDePagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pieDePagina .grupo-1 .box figure img {
    width: 250px;
}

.pieDePagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pieDePagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pieDePagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pieDePagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pieDePagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pieDePagina .grupo-2 small {
    font-size: 15px;
}

/*#endregion RegionName*/



/*#region MediaQueries*/

@media (min-width: 720px) {
    header {
        position: relative;
        width: 100%;
        height: 5vw;
        font-size: 1.1vw;

    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
        height: 3vw;
        align-items: center;
        max-width: 1900px;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 40px;
        padding-left: 40px;

    }

    header .logo {
        padding-top: 2vw;
    }

    header a {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    button {
        margin-bottom: 200px;
    }


    #containerCartas .containerInnerCartas {
        display: flex;
        justify-content: space-between;
    }

    #containerCartas .carta {
        width: 25vw;
        height: 55vh;
    }

    #containerCartas button {
        margin-top: 25vh;
    }

    .container .hoverArrow {
        margin-top: -100px;
        height: 55vh;
    }

    .pieDePagina .grupo-1 {
        max-width: 1200px;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }

    .pieDePagina .grupo-1 .box {
        padding-top: 100px;
        align-items: center;
        justify-content: center;
    }

    .efectoLinea::after,
    .efectoLinea::before {
        content: '';
        position: absolute;
        top: 0.7em;
        width: 20vw;
        height: 5px;
        background-color: black;

    }

    .efectoLinea::before {
        left: -20.4vw;
    }

    .efectoLinea::after {
        right: -20.4vw;
    }


}

/*#endregion */