.tipoProduccion {
  margin: 50px 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15%;
}

.col-md-6 {
  width: calc(50% - 40px);
  margin: 0 20px;
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
}

/* Estilos para la columna de texto */
.textoprocesoProductivo {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("/img/FondoProductivo.jpg");
  background-position: center;
  background-size: cover;
  margin: 0;
}

.texto {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("/img/visos.jpg");
  background-position: center;
  background-size: cover;
  margin: 0;
}

.texto h2 ,.textoprocesoProductivo h2 {
  font-family: "Montserrat", Sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin-bottom: 50px;
  color: white;
}

.texto p ,.textoprocesoProductivo p {
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: white;
  margin-bottom: 50px;
}

/* Estilos para la columna de imagen */
.imagen {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.imagen img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
